<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <!--调整该目录下服务器程序能处理的页面最大请求字节数(KB)为 2GB，这将影响到服务器能够接收的上传文件最大尺寸-->
    <httpRuntime maxRequestLength="2097152" executionTimeout="3600" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <!--调整 WEB 容器对该目录下服务器程序过滤响应的最大请求字节数(B)为 2GB，这将影响到服务器能够接收的上传文件最大尺寸-->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
