<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <system.web>
    <httpRuntime maxRequestLength="2097152" />
    <!--<compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400 " />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>-->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
  </system.web>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <!--调整 WEB 容器对该目录下服务器程序过滤响应的最大请求字节数(B)为 2GB，这将影响到服务器能够接收的上传文件最大尺寸-->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>
